body { background-color:initial;color:initial; }
a { color:#4660e1; }

.markdown-body {
  img { box-shadow: 1px 1px 3px black; }
  dt { color:#6a737d }
  table {
    th, td { border-color:grey; }
    tr { background-color:initial;background-color:rgba(grey,10%); }
    thead tr,
    tr:nth-child(2n) { background-color:initial;background-color:rgba(grey,20%); }
  }
  .highlight { background-color:#202020;color:#6a9fb5;border-radius:4px; }
  .highlight pre, pre { background-color:initial;border:1px solid grey;border-color:rgba(grey,50%); }
  hr { background-color:grey;opacity:.3; }
  h1, h2, h3, h4, h5, h6 { border-bottom-color:grey;border-bottom-color:rgba(grey,30%); }
  blockquote { border-left-color:grey;border-left-color:rgba(grey,50%); }
  code, tt { background-color:initial;background-color:rgba(grey,30%); }
}

.task-list-item-checkbox { margin:4px; }
a.footnote { margin:0 2px; }

.footnotes { font-size:.87em;border-top:2px solid grey;border-top-color:rgba(grey,30%);margin:24px 0; }
